/*------------------
DEFINE COLOR PALETTE
------------------*/

/* linernotes dark */
$bgPage: rgb(42,38,37);
$bg: rgb(26,21,21);
$bgHead: rgb(255,122,23);
$text: rgb(225,225,225);
$textBold: #fff;
$textMuted: rgb(153,157,156);
$textHead: $textBold;
$accent: rgb(3, 180, 0);
